<!DOCTYPE html>
<html>
  <head>
    <title>Rankmi Request App</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %> 
    <%= csrf_meta_tags %>
  </head>
  <body>
      <% if current_user %>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <p> 
                    <strong>Bienvenida <%= current_user.name %>  </strong> 
                  </p>
                    <%= link_to " ",  signout_path, id: "sign_out", class: "fa fa-power-off" %>
                </div>
              </div>
            </div>
          </div>
        </nav>
      <% else %>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title has-text-centered">Antes de ingresar tu requerimiento, por favor accede con tu cuenta</p>
          </article>
        </div>
        <div class= "has-text-centered">
          <%= link_to "/auth/google_oauth2", id: "sign_in" do %>
            <i class="fa fa-google fa-5x"></i>
            <p>Ingresa</p>
          <% end %>
        </div>
      <% end %>
    <div>
      
    </div>
    <div>
    <%= yield %>
    </div>
  </body>
</html>